<div class="header">
  <h1>{{ "Simple To-do List" }}</h1>
</div>

<div class="externalContainer">
  <div class="visualizationContainer">
    <div class="task-list">
      <label id="label" for="search">Search</label>
      <input type="search" id="search" name="search" placeholder="Search tasks" 
        [(ngModel)]="searchTerm"
        (keyup.enter)="getSpecificTask()">
    
      <div class="found-tasks" *ngIf="((foundTasks$ | async) ?? []).length > 0">    
        <h2 class="found-tasksh2">Found Tasks</h2>
        <div *ngFor="let task of foundTasks$ | async" class="task-item">
          <p class="foundtask-title">{{ task.title }}</p>
          <p class="task-description">{{ task.description }}</p>
        </div>
      </div>
      
      <div class="all-tasks">
        <h2>All Tasks</h2>
        <div *ngFor="let task of tasks$ | async" class="task-item">
          <div class="task-content">
            <p class="task-title">{{ task.title }}</p>
            <p class="task-description">{{ task.description }}</p>
          </div>
          <div class="task-actions">
            <button class="delete-button" (click)="deleteTask(task.id)">Done!</button>
            <button class="edit-button" (click)="editTask(task.id)">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="formContainer">
    <div class="submitTaskForm">
      <h2>Submit</h2>
      <div>
        <label class = "formLabel" for="title">Title</label>
        <input type="text" id="title" name="title" [(ngModel)]="title$">
        <label class = "formLabel" for="description">Description</label>
        <input type="text" id="description" [(ngModel)]="description$">
        <button (click)="addTask()">Add Task</button>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>&copy; {{ "Ulian Gabriel Alff Ramires, " + "2024"  }} for Korp Viasoft Interview</p>
</div>